
.footer__link {
    font-size: 0.75rem;
}

.footer__link__icon {
    margin-right: 1rem!important;
}

.footer-title {
    font-size: 0.8125rem;
}
.footer {
    color: #fff;
    left: 0px;
    padding: 0px 0px;
    position:-ms-page;
    bottom: 0px;
    z-index: 10;
    right: 0;
    border-top: 1px solid rgba(120, 130, 140, 0.13);
    background: #9a616d; }