<nav class="navbar navbar-expand-lg" style="background-color: #9a616d">
  <a class="navbar-brand abs font-bold ml-1" href="/doctor">Medicina Online</a>
  <!-- BUTTON TOGGLE aparece en responsive -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active"  >
          <a class="nav-link font-bold" style="color: #000;" [routerLink]="['/doctor/appointments']" >Turnos</a>
      </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link font-bold" style="color: #000;" [routerLink]="['/doctor','patients']">Pacientes</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link font-bold" style="color: #000;" [routerLink]="['/doctor/pathologies']">Patologías</a>
        </li>
        <li class="nav-item" routerLinkActive="active" >
          <a class="nav-link font-bold" style="color: #000;" [routerLink]="['/doctor/consultations']">Consultas</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto mr-sm-2 text-center">
        <a class="dropdown-item pointer pull-right" (click)="logOut()"><i class="fa fa-power-off"></i></a>
      </ul>
    </div>
</nav>
