<div class="background-modal" [class.hidden]="hiddenModal" >
    <div class="modal  show animated fadeIn fast" id="exampleModal" tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel1" aria-hidden="true" 
        style="overflow-y:auto; display: block" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 *ngIf="mode === 'create'" class="modal-title font-bold" id="exampleModalLabel">Crear Patología</h4>
              <h4 *ngIf="mode === 'update'" class="modal-title" id="exampleModalLabel">Actualizar Patología</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closedModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p *ngIf="mode === 'create'">Complete los datos de la patología.</p>
                <p *ngIf="mode === 'update'">Modifique los datos de la patología.</p>
              <form [formGroup]="pathologyForm">
                <div class="form-group">
                  <label for="name" class="col-form-label">Nombre:</label>
                  <input type="text" class="form-control" id="name" formControlName="name" [class.is-invalid]="getFieldValid('name')">
                  <p class="text-danger" *ngIf="getFieldValid('name')">
                    *Ingrese el <strong>nombre</strong>.
                  </p>
                </div>
                <div class="form-group">
                    <label for="code" class="col-form-label">Código:</label>
                    <input type="text" class="form-control" id="code" formControlName="code" [class.is-invalid]="getFieldValid('code')">
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button *ngIf="mode === 'create'" type="button" class="btn btn-info" (click)="createService()">Crear</button>
              <button *ngIf="mode === 'update'" type="button" class="btn btn-info" (click)="updateService()" [hidden]="formsEquals">Modificar</button>
              <button type="button" class="btn btn-danger"  (click)="closedModal()">Cancelar</button>
            </div>
          </div>
        </div>
    </div>
</div>