/* Paginador */
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
background-color: #343A40;
border-color: #343A40;
color: white; }

.btn{

    border-radius: 25px;

   }

   .new{
        font-size: 12px;
   }